--requirement requirements.txt
# With the release of version 2.10, Ansible finally correctly
# identifies Kali Linux as being the Kali distribution of the Debian
# OS family.  This simplifies a lot of things for roles that support
# Kali Linux, so it makes sense to force the installation of Ansible
# 2.10 or newer.
#
# We need at least version 6 to correctly identify Amazon Linux 2023
# as using the dnf package manager.
ansible>=6,<7
ansible-lint>=5,<6
boto3
flake8
molecule
molecule-plugins[docker]
pre-commit
pytest-testinfra
yamllint
